*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

/* Navigation bar */

#navigation-bar{
    height: 56px;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    background-color: #ffffff;
    padding: 16px 24px;
}

#logo{
    width: 100px;
}

#searchbox{
    padding: 5px 12px;
    width: 85%;
    border-radius: 3px;
    border: 1px solid gray;
}

#searchbutton{
    padding: 4px;
    margin-left: -6px;
    border-radius: 3px;
    border: 1px solid gray;
    width: 10%;
}

#left-nav{
    align-items: center;
}

#right-nav{
    justify-self: end;
}


.grid-container{
    display: grid;
}

.margin-left-16{
    margin-left: 32px;   
}

.flex{
    display: flex;
}

#video-section{
    margin-left: 100px;
    margin-top: 20px;
    width: 854px;
}

#video-info{
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#video-info i{
    margin: 10px;
}